  <!--LEFT SECTION-->
  <div class="db-l">
    <div class="db-l-1">
      <ul>
        <li>
        </li>
        <li><span>80%</span> profile compl</li>
        <li><span>18</span> Notifications</li>
      </ul>
    </div>
    <div class="db-l-2">
      <ul>
        <li>
          <a routerLink="/profile"><img src="assets/images/icon/dbl1.png" alt="" /> All Bookings</a>
        </li>
        <li>
          <a routerLink="/profile/tourist_point"><img src="assets/images/icon/a18.png" alt="" /> Tourist Points</a>
        </li>
        <li>
          <a routerLink="/profile/package"><img src="assets/images/icon/dbl2.png" alt="" /> Packages</a>
        </li>
        <li>
          <a routerLink="/profile/hotel"><img src="assets/images/icon/dbl3.png" alt="" /> Hotels</a>
        </li>
        <li>
          <a routerLink="/profile/event"><img src="assets/images/icon/dbl4.png" alt="" /> Events</a>
        </li>
        <li>
          <a routerLink="/profile/edit"><img src="assets/images/icon/dbl6.png" alt="" /> My Profile</a>
        </li>
        <li>
          <a routerLink="/profile/payment"><img src="assets/images/icon/dbl9.png" alt="" /> Payments</a>
        </li>
        <li>
          <a routerLink="/profile/refund"><img src="assets/images/icon/dbl7.png" alt="" /> Claim & Refund</a>
        </li>
      </ul>
    </div>
  </div>
