<!--====== BANNER ==========-->
<section>
  <div class="rows inner_banner inner_banner_4">
    <div class="container">
      <h2><span>{{package.name}} -</span> {{package.type}} </h2>
      <ul>
        <li><a href="/" class="bread-acti">Home</a></li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li><a href="/" class="bread-acti">{{package.type}}</a></li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li>{{package.title}} </li>
      </ul>
      <p>{{package.subtitle}}</p>
    </div>
  </div>
</section>
<!--====== TOUR DETAILS - BOOKING ==========-->
<section>
  <div class="rows banner_book" id="inner-page-title">
    <div class="container">
      <div class="banner_book_1">
        <ul>
          <li class="dl1">Location : {{package.location}}</li>
          <li *ngIf="package.price!=0" class="dl2">Price : {{package.price}}</li>
          <li *ngIf="package.duration" class="dl3">Duration : {{package.duration}}</li>
          <li class="dl4 pull-right"><a routerLink="/booknow">Book Now</a> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--====== TOUR DETAILS ==========-->
<section *ngIf="package">
  <div class="rows inn-page-bg com-colo">
    <div class="container inn-page-con-bg tb-space">
      <div class="col-md-9">
        <!--====== TOUR TITLE ==========-->
        <div class="tour_head">
          <h2>{{package.title}}<span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i
                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o"
                aria-hidden="true"></i></span><span class="tour_rat">4.5</span></h2>
        </div>

        <!--====== ABOUT THE TOUR ==========-->
        <div class="tour_head1">
          <h3>About The Tour</h3>
          <table>
            <tr>
              <th>Activities</th>
              <th class="event-res">Inclusions</th>
              <th class="event-res">Things to carry</th>
              <!-- <th>Event Date</th> -->
            </tr>
            <tr>
              <td>Rio De Janeiro ,Brazil</td>
              <td class="event-res">Accommodation</td>
              <td class="event-res">Return Airfare & Taxes</td>

            </tr>
            <tr>
              <td>Iguassu Falls </td>
              <td class="event-res">8 Breakfast, 3 Dinners</td>
              <td class="event-res">Arrival & Departure transfers</td>

            </tr>
            <tr>
              <td>Peru,Lima </td>
              <td class="event-res">First-class Travel</td>
              <td class="event-res">travel insurance</td>

            </tr>

          </table>
        </div>

        <!--====== TOUR DESCRIPTION ==========-->
        <!-- <div class="tour_head1">
          <h3>Description</h3>
          <p [innerHtml]="package.description"></p>
        </div> -->
        <!--====== ROOMS: HOTEL BOOKING ==========-->
        <div class="tour_head1 hotel-book-room">
          <h3>Photo Gallery</h3>
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
        <!--====== TOUR LOCATION ==========-->
        <!-- <div class="tour_head1 tout-map map-container">
						<h3>Location</h3>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.356287750112!2d73.46748531394525!3d16.04699078889468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc00298a9d7a7d7%3A0xc2a82b9579885755!2sDive%20Vengurla%20-%20Diving%20with%20yogesh%20masurkar!5e0!3m2!1sen!2sin!4v1571768588059!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div> -->

        <!--====== DURATION ==========-->
        <!-- <div class="tour_head1 l-info-pack-days days">
          <h3>Detailed Day Wise Itinerary</h3>
          <ul>
            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4><span>Day : 1</span> Arrival and Evening Dhow Cruise</h4>
              <p>Arrive at the airport and transfer to hotel. Check-in time at the hotel will be at 2:00 PM. In the
                evening, enjoy a tasty dinner on the Dhow cruise. Later, head back to the hotel for a comfortable
                overnight stay.</p>
            </li>
            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4><span>Day : 2</span> City Tour and Evening Free for Leisure</h4>
              <p>After breakfast, proceed for tour of Dubai city. Visit Jumeirah Mosque, World Trade Centre, Palaces and
                Dubai Museum. Enjoy your overnight stay at the hotel.In the evening, enjoy a tasty dinner on the Dhow
                cruise. Later, head back to the hotel for a comfortable overnight stay.</p>
            </li>
            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4><span>Day : 3</span> Desert Safari with Dinner</h4>
              <p>Relish a yummy breakfast and later, proceed to explore the city on your own. Enjoy shopping at Mercato
                Shopping Mall, Dubai Mall and Wafi City. In the evening, enjoy the desert safari experience and belly
                dance performance. Relish a mouth-watering barbecue dinner and enjoy staying overnight in Dubai.</p>
            </li>
            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4><span>Day : 4</span> Day at leisure</h4>
              <p>Savour a satiating breakfast and relax for a while. Day Free for leisure. Overnight stay will be
                arranged in Dubai. In the evening, enjoy a tasty dinner on the Dhow cruise. Later, head back to the
                hotel for a comfortable overnight stay.</p>
            </li>
            <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4><span>Day : 5</span> Departure</h4>
              <p>Fill your tummy with yummy breakfast and relax for a while. Later, check out from the hotel and proceed
                for your onward journey.In the evening, enjoy a tasty dinner on the Dhow cruise. Later, head back to the
                hotel for a comfortable overnight stay.</p>
            </li>
          </ul>
        </div>
        <div>
          <div class="dir-rat">
            <div class="dir-rat-inn dir-rat-title">
              <h3>Write Your Rating Here</h3>
              <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                hidden in the middle of text</p>
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" />
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class="full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" />
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" />
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
            </div>
            <div class="dir-rat-inn">
              <form class="dir-rat-form">
                <div class="form-group col-md-6 pad-left-o">
                  <input type="text" class="form-control" id="email11" placeholder="Enter Name"> </div>
                <div class="form-group col-md-6 pad-left-o">
                  <input type="number" class="form-control" id="email12" placeholder="Enter Mobile"> </div>
                <div class="form-group col-md-6 pad-left-o">
                  <input type="email" class="form-control" id="email13" placeholder="Enter Email id"> </div>
                <div class="form-group col-md-6 pad-left-o">
                  <input type="text" class="form-control" id="email14" placeholder="Enter your City"> </div>
                <div class="form-group col-md-12 pad-left-o">
                  <textarea placeholder="Write your message"></textarea>
                </div>
                <div class="form-group col-md-12 pad-left-o">
                  <input type="submit" value="SUBMIT" class="link-btn"> </div>
              </form>
            </div>
            COMMENT RATING
            <div class="dir-rat-inn dir-rat-review">
              <div class="row">
                <div class="col-md-3 dir-rat-left"> <img width="100" src="assets/images/db-profile.jpg" alt="">
                  <p>Orange Fab & Weld <span>19th Oct, 2019</span> </p>
                </div>
                <div class="col-md-9 dir-rat-right">
                  <div class="dir-rat-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                      aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                      aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
                  <p>Michael & his team have been helping us with our eqiupment finance for the past 5 years - I think
                    that says a quite a lot.. Michael is always ready to go the extra mile, always available, always
                    helpfull that goes the same for his team that work with him - definatley our first phone call.</p>
                  <ul>
                    <li><a href="#"><span>Like</span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><span>Dis-Like</span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><span>Report</span> <i class="fa fa-flag-o" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><span>Comments</span> <i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><span>Share Now</span> <i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                  </ul>
                </div>
              </div>
            </div>
            COMMENT RATING
            <div class="dir-rat-inn dir-rat-review">
              <div class="row">
                <div class="col-md-3 dir-rat-left"> <img width="100" src="assets/images/db-profile.jpg" alt="">
                  <p>Orange Fab & Weld <span>19th Oct, 2019</span> </p>
                </div>
                <div class="col-md-9 dir-rat-right">
                  <div class="dir-rat-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                      aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                      aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
                  <p>Michael & his team have been helping us with our eqiupment finance for the past 5 years - I think
                    that says a quite a lot.. Michael is always ready to go the extra mile, always available, always
                    helpfull that goes the same for his team that work with him - definatley our first phone call.</p>
                  <ul>
                    <li><a href="#"><span>Like</span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><span>Dis-Like</span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><span>Report</span> <i class="fa fa-flag-o" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><span>Comments</span> <i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><span>Share Now</span> <i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                  </ul>
                </div>
              </div>
            </div>
            COMMENT RATING
            <div class="dir-rat-inn dir-rat-review">
              <div class="row">
                <div class="col-md-3 dir-rat-left"> <img width="100" src="assets/images/db-profile.jpg" alt="">
                  <p>Orange Fab & Weld <span>19th Oct, 2019</span> </p>
                </div>
                <div class="col-md-9 dir-rat-right">
                  <div class="dir-rat-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                      aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                      aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
                  <p>Michael & his team have been helping us with our eqiupment finance for the past 5 years - I think
                    that says a quite a lot.. Michael is always ready to go the extra mile, always available, always
                    helpfull that goes the same for his team that work with him - definatley our first phone call.</p>
                  <ul>
                    <li><a href="#"><span>Like</span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><span>Dis-Like</span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><span>Report</span> <i class="fa fa-flag-o" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><span>Comments</span> <i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"><span>Share Now</span> <i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-md-3 tour_r">

        <!--====== TRIP INFORMATION ==========-->
        <!-- <div class="tour_right tour_incl tour-ri-com">
          <h3>Trip Information</h3>
          <ul>
            <li>Location : {{package.location}}</li>
            <li>Arrival Date: Nov 12, 2017</li>
            <li>Departure Date: Nov 21, 2017</li>
            <li>Free Sightseeing & Hotel</li>
          </ul>
        </div> -->
        <!--====== PACKAGE SHARE ==========-->
        <div class="tour_right head_right tour_social tour-ri-com">
          <h3>Share This Package</h3>
          <share-buttons [theme]="'circles-dark'"
            [include]="['facebook','twitter','whatsapp','linkedin','pinterest','messenger','email','copy']" [size]="-4"
            [show]="4"></share-buttons>
        </div>
        <!--====== HELP PACKAGE ==========-->
        <div class="tour_right head_right tour_help tour-ri-com">
          <h3>Help & Support</h3>
          <div class="tour_help_1">
            <h4 class="tour_help_1_call">Call Us Now</h4>
            <h4><i class="fa fa-phone" aria-hidden="true"></i> +91 9867 849741</h4>
          </div>
        </div>
        <!--====== PUPULAR TOUR PACKAGES ==========-->
        <div class="tour_right tour_rela tour-ri-com">
          <h3>Popular Packages</h3>
          <div *ngFor="let data of packages" class="tour_rela_1"> <img [src]="data.image" alt="" />
            <h4>{{data.name}} ({{data.duration}})</h4>
            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
            <a (click)="changeRoute(data)" class="link-btn">View this Package</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
