<!--
<section>
  <div class="rows banner_book" id="inner-page-title">
    <div class="container">
      <div class="banner_book_1">
        <ul>
          <li class="dl1">Location : {{package.location}}</li>
          <li *ngIf="package.price!=0" class="dl2">Price : <i class='fa fa-inr' aria-hidden='true'></i>
            {{package.price}}
          </li>
          <li *ngIf="package.duration" class="dl3">Duration : {{package.duration}}</li>
          <li class="dl4 pull-right"><a (click)="navigateToBookNow(package)">Book Now</a> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section *ngIf="package">
  <div class="rows inn-page-bg com-colo">
    <div class="container inn-page-con-bg tb-space">
      <div class="col-md-9">
        <div class="tour_head">
          <h2>{{package.title}}</h2>
      
        </div>
        <div class="tour_head1 hotel-book-room">
          <h3>Photo Gallery</h3>
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
        <div class="tour_head1">
          <h3>Description</h3>
          <p [innerHtml]="package.description"></p>
          <p>
            <strong>(If required Food & Vehicle Extra Cost Will be Charged.)</strong>
          </p>
        </div>

        <div class="tour_head1 row">
          <h3>About The Tour</h3>

          <div *ngIf="packageActivities && packageActivities.length>0" class="col-md-4 col-sm-6">
            <h4><img alt="Things to carry" src="assets/images/icon/a18.png">Activities</h4>
            <ul>
              <li *ngFor="let data of packageActivities">{{data}}</li>
            </ul>
          </div>
          <div *ngIf="packageInclusions && packageInclusions.length>0"
            [ngClass]="packageActivities.length==0?'col-md-6 col-sm-6':'col-md-4 col-sm-6'">
            <h4><img alt="Things to carry" src="assets/images/icon/dbl1.png">Inclusions</h4>
            <ul>
              <li *ngFor="let data of packageInclusions">{{data}}</li>
            </ul>
          </div>
          <div *ngIf="packageThingsToCarry && packageThingsToCarry.length>0"
            [ngClass]="packageActivities.length==0?'col-md-6 col-sm-6':'col-md-4 col-sm-6'">
            <h4><img alt="Things to carry" src="assets/images/icon/a17.png">Things to carry</h4>
            <ul>
              <li *ngFor="let data of packageThingsToCarry">{{data}}</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-3 tour_r">

       
        <div class="tour_right head_right tour_social tour-ri-com">
          <h3>Share This Package</h3>
          <share-buttons [theme]="'circles-dark'"
            [include]="['facebook','twitter','whatsapp','linkedin','pinterest','messenger','email','copy']" [size]="-4"
            [show]="4"></share-buttons>
        </div>
        <div class="tour_right head_right tour_help tour-ri-com">
          <h3>Help & Support</h3>
          <div class="tour_help_1">
            <h4 class="tour_help_1_call">Call Us Now</h4>
            <h4><i class="fa fa-phone" aria-hidden="true"></i>+91 9167571732</h4>
          </div>
        </div>
        <div class="tour_right tour_rela tour-ri-com">
          <h3>Popular Packages</h3>
          <div *ngFor="let data of packages" class="tour_rela_1"> <img [src]="data.image" alt="" />
            <h4>{{data.name}} ({{data.duration}})</h4>
            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
            <a (click)="changeRoute(data)" class="link-btn">View this Package</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->
