<section>
  <div class="rows inner_banner inner_banner_2">
    <div class="container">
      <h2><span>Contact us -</span> Kokan's leading tour Booking</h2>
      <ul>
        <li><a href="#inner-page-title">Home</a>
        </li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
        <li><a href="#inner-page-title" class="bread-acti">Contact Us</a>
        </li>
      </ul>
      <p>Book travel packages and enjoy your holidays with distinctive experience</p>
    </div>
  </div>
</section>

<section class="tourb2-ab-p-2 com-colo-abou">
  <div class="container">
    <div class="row tourb2-ab-p1">
      <div class="col-md-6 col-sm-6">
        <div class="tourb2-ab-p1-left">
          <h3>Stay Connected!</h3> <span> We would love to hear from you.</span>
          <h4>Malvan Tarkarli Tour Planner</h4>
          <p>Near Bank of Badoda, wagh pimple,<br> Bharad, Malvan - 416606.<br> Maharashtra, India</p>
          <h5>Email:-</h5>
          <p>
            malvantarkarlitourplanner@gmail.com<br>
            mhadu6168@gmail.com<br>
            bhushanshinde100@gmail.com
          </p>
          <p>
            Mahadev : 9923288931 <br>
            Bhushan : 8097739329
          </p>
          <a href="#" class="link-btn">Call to us: +91 7822879599</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="tourb2-ab-p1-right">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15336.256219334971!2d73.4710476!3d16.0621655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde28226fcfea1843!2smalvan%20tarkarli%20tour%20planner!5e0!3m2!1sen!2sin!4v1576606793204!5m2!1sen!2sin"
            width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
